body{
       background-color: whitesmoke; 
       font-family: sans-serif; 
}
.main{
    max-width: 800px;
    margin: auto;
    box-shadow: 30px 0px 40px rgba(0,0,0,0.1),
                -30px 0px 40px rgba(0,0,0,0.1);
}
.top{
    position: relative;
    padding-bottom: 5%;
}
.img1{
    height:150px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}
.img2{
    position: absolute;
      top: 90px;
      left: 80px;
      height: 100px;
      width: 100px;
    
}

.box{
     border: 2px ;
    padding: 15px;
    margin: 5px 0px;
    border-radius: 10px;
    background-color: white;}
a{
    text-decoration: none;
    color:rgb(42, 147, 218) ;
}
.color{
    color: gray;
}
.container{
    border: 2px;
    padding: 15px;
    margin: 5px 0px;
    border-radius: 10px;
    background-image: url("https://yaarme.com/login/CSS/Images/Yaarme-logo.png")  ;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center;
}